
.start-main {
  width: 100%;
  height: auto;
  background-color: var(--just-black);
}

.start-main--container {
  padding: 40px;
}

.start-main .start-logo {
  width: 40px;
  height: 40px;  
}

.start-main--titles h1 {
  max-width: 600px;
  margin-top: 40px;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 4.9rem;
}

.start-main--titles h2 {
  margin-top: 30px;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 2.7rem;  
}

/* Botones */
.start-main--singup,
.start-main--login {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.main-button {
  padding: 8px 15px;
  margin-bottom: 18px;
  width: 100%;
  max-width: 300px;
  min-width: 250px;
  height: 35px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  border-radius: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.main-button__white {
  background-color: var(--just-white);
  color: var(--just-black);
}

.main-button__blue {  
  background-color: var(--brand-color);
  color: var(--just-white);
  margin-bottom: 5px;
}

.main-division {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  margin-bottom: 18px;
  font-size: 1.4rem;
  text-align: center;
}


.main-division .separator--letter {
  padding: 0 5px;
}


.main-division .separator {
  align-self: center;
  height: 1px;
  width: 45%;
  background-color: gray;
}

.main-text p {
  width: 100%;
  max-width: 300px;
  min-width: 250px;
  color: var(--gray-color);
}

.main-text p a {
  color: var(--brand-color);
}

.start-main--login h3 {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.9rem;
}

.main-button__pain {
  margin-top: 10px;
  font-weight: bold;
  border: 1px solid var(--gray-color);
  color: var(--brand-color);
}

/* Background */
.start-main--background-container {
  width: 100%;
}
.start-main--backgroundImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  background-image: url('../assets/img/backgraund-login.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.start-main--backgroundImage img {
  width: 200px;
  height: 200px;
}
.footer {
  height: inherit;
}
.footer .footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer .footer-list li {
  padding: 5px;
  color: var(--gray-color);
}